*{
margin:0;padding: 0;
box-sizing: border-box;
}
*::after{
    box-sizing: border-box;
  }
  *::before{
    box-sizing: border-box;
  }
  *{
    transition: all 0.3s;
  }


.wrapper{
    height: 100vh;
    display: flex;  
    flex-direction:column; 
    justify-content: center;
    align-items: center;
    
  
}
.content-wrapper{
    
    flex:1;
    background:#fee600;
  
    width: 100%;
  
  
}
.content{
  top: 20%;
  position: relative;
   
  
}
#myDom{
    height: 100%;
    overflow: hidden;
}
.myDom-wrapper{
    height: 50px;
    flex:1;

}
.action{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2%;
}
.action>button{
    margin: 8px;
    background: #ccc;
    padding: 8px 10px;
    border: none;
    color: #999;
}
.action>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  color:black;
}
  .action>button:focus{
    outline: none;
  }